<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>local storage sample</title>
  </head>
  <body>
    <div id="app">
      <p>
        My name is <input v-model="name" /> and I am
        <input v-model="age" /> years old.
      </p>
      <p>
        <button @click="persist">Save</button>
      </p>
      <div>
        <h2>Cats</h2>
        <div v-for="(cat, n) in cats">
          <p>
            <span class="cat">{{ cat }}</span>
            <button @click="removeCat(n)">Remove</button>
          </p>
        </div>

        <p>
          <input v-model="newCat" />
          <button @click="addCat">Add Cat</button>
        </p>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</html>
